<!DOCTYPE html> <!--Declara que este documento segue o padrão HTML 5-->

<html lang="pt-BR"> <!--Define o idioma principal do documento como Português do Brasil-->

    <head> <!--Cabeçalho do documento contendo metadados links externos-->
        <meta charset="UTF-8"> <!--Define a codificação de caracteres UTF-8 como suporte a acentos-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Garante suporte a telas responsivas em dispositivos móveis-->
        <title>Tarefas App</title><!--Define o tipo que aparece na aba do navegador-->

        <!--Link de importação da folha de estilos (CSS) do bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    </head> <!--Fechamento da seção de metadados-->


    <body> <!--Corpo da página onde fica o conteúdo visível para o usuário-->

        <!--Container do Spinner do carregamento-->
        <div class="d-flex justify-content-center"> 
            <!--Div que reinderiza o efeito visual de carregamento rotativo-->
            <div class="spinner-border" role="status" id="loading"> 
                <span class="sr-only"></span> <!--texto oculto para leitores de tela indicando estado de carregamento-->
            </div> <!--Fechamento do elemento do Spinner-->
        </div> <!--Fechamento do container flex-->

            <!--Título da seção centralizada usando uma classe utilitária do bootstrap-->
            <p class="h1 text-center">Tarefas de um usuário</p> 

            <!--Estrutura da tabela HTML estilizada com as classes utilitárias do bootstrap-->
            <table class="table table-hover" id="tasks">
                <!--Conteúdo interno (cabeçalhos e linhas) Será inserido via Script.js-->
            </table> 

            <!--Script para componentes interativos do bootstrap-->
            <scrpt src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></scrpt>

            <!--Importa~]ap do arquivo Script.js próprio contendo a lógica de integração com a API-->
            <script src="script.js"></script>

            <!--Fechamento do corpo do documento-->
    </body>
    <!--Fechamento da tag raiz do HTML-->
</html>